<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Agropecuaria Animalagro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div class="" role="alert">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="row" colspan="3" class="text-center">CARRITO</th>
            </tr>
            <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
            </tr>
          </thead>
          <tbody>
          {% if request.session.carrito.items %}
          {% for key, value in request.session.carrito.items %}
            <tr>
              <td>{{value.nombre}}</td>
              <td>{{value.acumulado}}</td>
              <td>
                {{value.cantidad}}
                <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-success ">+</a>
                <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-danger ">-</a>
              </td>
            </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="3">
                  <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
          </tr>
          {% endif %}
            <tr>
              <th scope="row">Total:</th>
              <td colspan="2" class="text-dark">$ {{total}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="row text-center">
          <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-warning text-white">Limpiar</a></div>
          <div class="col-6"><a href="#" class="btn btn-success">Finalizar compra</a></div>
        </div>
      
        </div>
        
    <!-- custom js file link  -->
    
</body>

</html>