<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Agropecuaria Animalagro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/estilo.css' %}">
</head>

<body>

    {% comment %} <div class="" role="alert">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="row" colspan="3" class="text-center">CARRITO</th>
            </tr>
            <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
            </tr>
          </thead>
          <tbody>
          {% if request.session.carrito.items %}
          {% for key, value in request.session.carrito.items %}
            <tr>
              <td>{{value.nombre}}</td>
              <td>{{value.acumulado}}</td>
              <td>
                {{value.cantidad}}
                <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-success ">+</a>
                <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-danger ">-</a>
              </td>
            </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="3">
                  <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
          </tr>
          {% endif %}
            <tr>
              <th scope="row">Total:</th>
              <td colspan="2" class="text-dark">$ {{total}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="row text-center">
          <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-warning text-white">Limpiar</a></div>
          <div class="col-6"><a href="/finalizarCompra/" class="btn btn-success">Finalizar compra</a></div>
        </div>
      
        </div> {% endcomment %}
        <div class="carrito" id="carrito">
          <div class="header-carrito">
              <h2>Carrito de compra</h2>
          </div>

          <div class="carrito-items">
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <center>
              <div class="carrito-item">
                  <img src="../media/{{value.imagen}}" width="80px" alt="">
                  <div class="carrito-item-detalles">
                      <span class="carrito-item-titulo">{{value.nombre}}</span>
                      <div class="selector-cantidad">
                          <a href="{% url 'Sub' value.producto_id %}"><i class="btn-danger fas fa-minus restar-cantidad" style="color: rgb(255, 255, 255); background-color: rgb(189, 36, 36); border: 1px solid rgb(189, 36, 36);"></i></a>
                          <input type="text" value="{{value.cantidad}}" class="carrito-item-cantidad" disabled>
                          <a href="{% url 'Add' value.producto_id %}"><i class="btn-info 	fas fa-plus sumar-cantidad" style="color: rgb(255, 255, 255);  background-color: rgb(36, 125, 189); border: 1px solid rgb(36, 125, 189);"></i></a>
                      </div>
                      <span class="carrito-item-precio">{{value.acumulado}}</span>
                  </div>
                  <button class="btn-eliminar" style="color: rgb(255, 255, 255); background-color: rgb(189, 36, 36); border: 1px solid rgb(189, 36, 36);">
                    <a href="{% url 'Del' value.producto_id %}"><i class="fas fa-trash-alt" style="color: #ffffff;"></i></a>
                  </button>
              </div>
            </center>
              {% endfor %}
              {% else %}
                
              {% endif %}
          </div>
          <div class="carrito-total">
              <div class="fila">
                  <strong>Tu Total</strong>
                  <span class="carrito-precio-total">
                    {{total}}
                  </span>
              </div>
              <a href="/finalizarCompra/"><button class="btn-pagar"><i class="	fas fa-shopping-cart"></i>Finalizar compra</button></a> 
          </div>
      </div>
    <!-- custom js file link  -->
    <script>
      
    
    </script>
</body>

</html>