<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuaria Animalagro</title>
	{% load static %}
    <link rel="stylesheet" href="{% static '../static/css/forma.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body style="background-image: url('{% static '../static/image/fondo.png' %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="login-box">
        <h2 style="font-family: Tahoma;">Agenda Tu Cita</h2>
        <form action="/agregarCita/{{ser.id}}/" method="post">
            {% csrf_token %}        
            <div class="user-box">
                {% if usuario.is_authenticated %}
                    <input type="text" name="txtNombreCita" id="txtNombreCita" value="{{ usuario.first_name }}" required="">
                {% endif %}
				<label for="">Nombre del AMO</label>

              </div>

              <div class="user-box">
                    {% if usuario.is_authenticated %}
                        <input type="text"  name="txtApellidoCita" id="txtApellidoCita" value="{{ usuario.last_name }}" required="">
                    {% endif %}
					<label for="">Apellido del AMO</label>
              </div>

            <div class="user-box">
                  {% if usuario.is_authenticated %}
                      <input type="text"  name="txtDocumentoCita" id="txtDocumentoCita" value="{{ usuario.userNoDoc}}" required="">
                  {% endif %}
				  <label for="">Documento Del AMO</label>
            </div>

            <div class="user-box">	
                    {% if usuario.is_authenticated %}
                    <input type="text" name="txtNumeroCita" id="txtNumeroCita" value="{{ usuario.userTelefono}}" required="">
                    {% endif %}
					<label for="">Número de teléfono</label>
            </div>

            <div class="user-box">
                    {% if usuario.is_authenticated %}
                        <input type="text" name="txtCorreoCita" id="txtCorreoCita" value="{{ usuario.email}}" required="">
                      {% endif %}
					  <label for="">E-mail</label>
            </div>
            {% if ser.serDirigido == "Animales Domesticos" %}
                <div class="user-box">
                    <select name="txtNombreMasCita" id="txtNombreMasCita" required="">
                        {% for mascota in mascotas %}
                            <option value="{{mascota.id}}">{{ mascota.masNombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="">Nombre de la mascota </label>
                </div>
            {% else %}

            {% endif %}
            
            
            <div class="user-box">
                    <input type="text" name="txtServicioCita" id="txtServicioCita" value="{{ser.serNombre }}" required="">
					<label for="">Servicio</label>
              </div>

              <div class="user-box">
                    {% if ser.serEmpleado != null %}
                     <input type="text" name="txtVeterinarioCita" id="txtVeterinarioCita" value="{{ ser.serEmpleado.emNombre }} {{ser.serEmpleado.emApellido }}" required="">
                    {% else %} 
                     <input type="text" name="txtVeterinarioCita" id="txtVeterinarioCita" value="No hay veterinario asignado" required="" readonly>
                    {% endif %}
				<label for="txtVeterinarioCita">Veterinarios</label>
                <br>
            </div>

            <div class="user-box">
                    <input type="date" id="txtFechaCita" name="txtFechaCita" value="" min="{{fecha_actual}}">
					<label for="">Seleccionar fecha</label>		
            </div>
            <div class="user-box">
                    <select name="txtHoraCita" id="txtHoraCita">
                        {% if horas_no_reservadas %}
                            {% for hora in horas_no_reservadas %}
                                <option value="{{ hora|time:'H:i' }}">{{ hora|time:'g:i A' }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">No hay horas disponibles en esta fecha.</option>
                        {% endif %}
                    </select>
                    <label for="txtHoraCita">Seleccione la hora:</label>
            </div>
            <div class="user-box">
                    <input name="txtSintomasCita" id="txtSintomasCita" placeholder="" required="" ></input>
					<label for="">Motivo De La Cita</label>
			</div>
            <!-- el Span es para insertar la lineas -->
            <div class="btn-box-container">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button class="btn-box">Agendar Cita</button>
            </div>
        </form>
    </div>
    {% if mensaje %}
        <script>
            var mensaje = "{{ mensaje|escapejs }}"; // Escapar el mensaje
            if (mensaje !== "") {
                Swal.fire({
                    icon: 'error',
                    text: mensaje,
                    confirmButtonText: 'Aceptar'
                }); // Mostrar mensaje con Swal.fire()
            }
        </script>
    {% endif %}
</body>
</html>