<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>{{mensaje | safe}}</div>
    <p class="">Cordialmente,</p><br>
    <p class="fw-bold">Administracion de Gestión Veterinaria</p>
    <p class="fw-bold">Veterinaria Agropecuaria Animalagro</p>
    <img src=" {% static '../static/image/Logo.png' %}" alt="" width="100" height="auto">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
    
