<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuaria Animalagro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/styleUser.css' %}">
    
</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="" class=""> <i class=""><img src=" {% static '../static/image/Logo.png' %}" alt="" width="120" height="auto"></i></a>

    <nav class="navbar">
        <a href="/vistaIndexUsuario/">Inicio</a>
        <a href="/vistaTienda/">Tienda</a>
        <a href="/vistaServiciosTienda/">Servicios</a>
        <a href="#contact" >Contacto</a>
        <a href="/vistaTiendaPromociones/">Promociones</a>
    </nav>
    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>        
    </div>
    
    <form action="" class="login-form">
            <div class="my-2"></div>
            <a href="/vistaPerfilusuario/" class="btn btn-info btn-icon-split" id="btninformacion">
                <span class="icon text-white-50">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span class="text">Ver informacion Personal</span>
            </a>
            <div class="my-2"></div>
            <a href="/cerrarSesion/" class="btn btn-secondary btn-icon-split" id="btnCerrarSesion">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Cerrar Sesión</span>
            </a>
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->
<main>
    <section class="home" id="home">

        <div class="content">
            <h3> <span>Bienvenido</span> a nuestra veterinaria Animalagro</h3>
            <a href="/nosotros/" class="btn">Conocenos</a>
        </div>
        <img src="{% static '../static/image/bottom_wave.png' %}" class="wave" alt="">
    
    </section>
    
    <!-- home section ends -->
    
    <!-- about section starts  -->
    
    <section class="about" id="about">
    
        <div class="image">
            <img src="{% static '../static/image/about_img.jpg' %}" alt="" >
        </div>
    
        <div class="content">
            <h3>Promocion <span>Pro Plant Food</span> Manufacturado De Forma Artesanal</h3>
            <p>A precio increible, el producto mas comprado que esta hecho de forma Artesanal, super econimo y nutritivo para tu Perro, Ven Ya Por El Tuyo.</p>
            <a href="#" class="btn">Mirar</a>
        </div>
    
    </section>
    
    
    
    <section class="shop" id="shop">
    
        <h1 class="heading">Productos<span> Disponibles Mas Vendidos</span> </h1>
    
        <div class="box-container">
            {% for producto in productos %}
            <div class="box">
                <div class="icons">
                    <a href="" onclick="AgregarAlCarrito({{producto.id }})"class="fas fa-shopping-cart"></a>
                    <a href="/detalle/{{producto.id}}" class="fas fa-eye"></a>
                </div>
                <script>
                    function AgregarAlCarrito(id) {
                        const ide = id
                        url = '/agregar/'+ide+'/'
                        console.log(url)
                            try {
                                fetch(url)
                                   .then((response) => response.json())
                                   .then(data => {
                                            estado = data.estado 
                                            if(estado = true) {
                                                window.location.reload();
                                            } else {
                                                Swal.fire({
                                                    title: 'Sistema veterinaria animalgro',
                                                    text: 'Algo salio mal, intenta mas tarde',
                                                    icon: 'error',                          
                                                    confirmButtonText: 'Aceptar'
                                                })
                                            }
                                        }
                                    )                
                            }
                            catch (error) {
                                console.log(error)
                            }
                    }
                </script>
                <div class="image">
                    <img src="{{producto.proFoto.url}}" alt=""  >
                </div>
                <div class="content">
                    <h3>{{producto.proNombre}}</h3>
                    <div class="amount">  Precio: $ {{producto.proPrecio}} COP.</div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </section>
    

    
    
    <section class="contact" id="contact">
    
        <div class="image">
            <img src="{% static '../static/image/contact_img.png' %}" alt="">
        </div>
    
        <form action="/registrarContactos/". method="post">
            {% csrf_token%}
            <h3>Contactanos</h3>
            <input type="text" placeholder="Nombre" id="txtNombreCon" name="txtNombreCon" class="box" required="">
            <input type="email" placeholder="Email" id="txtEmailCon" name="txtEmailCon" class="box" required="">
            <input type="number" placeholder="Numero Telefonico" id="txtNumeroCon" name="txtNumeroCon" class="box" required="">
            <input type="text" placeholder="Mensaje" id="txtMensajeCon" name="txtMensajeCon" class="box" required="">
            <input type="submit" value="Enviar Mensaje" class="btn">
        </form>
    
    </section>
    
    <section class="footer">
    
        <img src="{% static '../static/image/top_wave.png' %}" alt="">
    
        <div class="share">
            <a href="#" class="btn"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#" class="btn"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#" class="btn"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#" class="btn"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#" class="btn"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>
    
    </section>
</main>
<script src=" {% static '../static/js/script.js' %}"></script>
</body>
</html>