{% extends "Administrador/indexA.html" %}
{% block encabezado %}
    {% include "Administrador/encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "Administrador/menu.html" %}
{% endblock %}
{% block contenido %}
  {% load static %}


    <main id="main" class="main">
        <div class="pagetitle">
          <h1>Perfil Gestion Empleados</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/vistaAdministrador/">Inicio</a></li>
              <li class="breadcrumb-item"><a href="/perfiladmin/">Perfil</a></li>
    
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section profile">
          <div class="row">
              
    
    
    
            {% comment %} Formularios De Agregar {% endcomment %}
            <div class="col-xl-12">
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered">
    
                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab"
                        data-bs-target="#profile-overview">Agregar empleado</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" >Listado de Empleados</button>
                    </li>
    
                  </ul>
                  {% comment %} Bloque De Codigo Para Agregar Servico {% endcomment %}
                  <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview" >
                        <form action="/AgregarEmpleado/" method="POST" enctype="multipart/form-data" class="was-validated">
                            {% csrf_token %}
                            <div class="row mb-2">
                                <label for="txtNombreEm" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtNombreEm" type="text" class="form-control" id="txtNombreEm" required
                                        placeholder="Digite nombre del empleado">
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <label for="txtApellidoEm" class="col-md-4 col-lg-3 col-form-label">Apellido</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtApellidoEm" type="text" class="form-control" id="txtApellidoEm" required
                                        placeholder="Digite apellido del empleado">
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <label for="txtTelefonoEm" class="col-md-4 col-lg-3 col-form-label">N. Telefono</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtTelefonoEm" type="number" class="form-control" id="txtTelefonoEm" required
                                        placeholder="Digite telefono del empleado" >
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <label for="txtDireccionEm" class="col-md-4 col-lg-3 col-form-label">Dirrecion</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtDireccionEm" type="text" class="form-control" id="txtDireccionEm" required
                                        placeholder="Digite direccion del empleado" >
                
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                    <label for="txtTipoDocEm" class="form-label col-md-4 col-lg-3 col-form-label">Tipo de Documento     </label>
                                    <div class="col-md-8 col-lg-7">
                                        <select class="form-select" id="txtTipoDocEm" name="txtTipoDocEm">
                                            <option value="">Seleccionar</option>
                                            <option value="TI">Tarjeta Identidad</option>
                                            <option value="CC">Cedula Ciudadania</option>
                                            <option value="CCE">Cedula Extranjera</option>
                                        </select>
                                    </div>
                            </div>
                
                            <div class="row mb-2">
                                <label for="txtCargoEm" class="col-md-4 col-lg-3 col-form-label">Numero De Documento</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtNumeroDocEm" type="text" class="form-control" id="txtNumeroDocEm" required
                                        placeholder="Digite Numero De Documento" >
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <label for="txtCargoEm" class="col-md-4 col-lg-3 col-form-label">Cargo</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtCargoEm" type="text" class="form-control" id="txtCargoEm" required
                                        placeholder="Digite cargo del empleado" >
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <label for="txtCorreoEm" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                                <div class="col-md-8 col-lg-7">
                                    <input name="txtCorreoEm" type="email" class="form-control" id="txtCorreoEm" required
                                        placeholder="Digite correo del empleado">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Agregar empleado</button>
                            </div> 
                        </form>
                    </div>
                </div>            
                  {% comment %}  Final De form servico{% endcomment %}
    
                  {% comment %} Bloque De Codigo Para listar  {% endcomment %}
                  <div class="tab-content pt-2">
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                      <form  class="was-validated" >
                      
                    <table class="table table-borderless datatable">
                        <thead>
                          <tr>
                              <th>Nombre</th>
                              <th>Telefono</th>
                              <th>Direccion</th>
                              <th>No Ide</th>
                              <th>Cargo</th>
                              <th>Correo</th>
                              <th>Crear Usuario</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for lista in listarEmpleados %}
                              <tr>
                                  <td>{{lista.emNombre}} {{lista.emApellido}}</td>
                                  <td>{{lista.emTelefono}}</td>
                                  <td>{{lista.emDireccion}}</td>
                                  <td>{{lista.emNumeroDoc}}</td>
                                  <td>{{lista.emCargo}}</td>
                                  <td>{{lista.emCorreo}}</td>
                                  <td><a href="/vistaEmpleadoUsuario/{{lista.id}}"> <button type="button" class="btn btn-warning text-white">Crear </button></a></td>
                              </tr>
                        {% endfor %} 
                        </tbody>
                        </table>
                    </form>
                    </div>
                  </div> 
            
                </div>
              </div>
            </div>
          </div>    
        </section>
    
      </main><!-- End #main -->
    {% endblock %}