<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Usuario / Perfil - Animalagro</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- Vendor CSS Files -->
  {% load static %}

  <link rel="stylesheet" href="{% static '../static/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.snow.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.bubble.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/simple-datatables/style.css' %}">

  <link href="{% static '../static/css/adminStyle.css' %}" rel="stylesheet"> 


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">


    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">20</span>
          </a><!-- End Notification Icon -->
        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">13</span>
          </a><!-- End Messages Icon -->
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{%static '../static/image/profile.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Stiven Chacon</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Stiven Chacon</h6>
              <span>Administrador</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-person"></i>
                <span>Mi perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/inicio/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Salir</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-grid"></i>
          <span>Animalagro</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-heading">Pagina</li>

      <a class="nav-link collapsed" href="/perfiladmin/">
        <i class="bi bi-person"></i>
        <span>Perfil</span>
      </a>
      <a class="nav-link collapsed" href="/VistaAgregarEmpleado/">
        <i class="bi bi-person"></i>
        <span>Agregar empleado</span>
      </a>
      <a class="nav-link collapsed" href="/listarEmpleados/">
        <i class="bi bi-person"></i>
        <span>Consultar Empleados</span>
      </a>
      <a class="nav-link collapsed" href="/AgregarProducto/">
        <i class="bi bi-person"></i>
        <span>Agregar Producto</span>
      </a>
    </li><!-- End Profile Page Nav -->
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Perfil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/vistaAdministrador/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/perfiladmin/">Perfil</a></li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
          <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                  <img src="{%static '../static/image/profile.jpg' %}" alt="Profile" class="rounded-circle">
                  <h2>Administrador</h2>
                  <center><h3>Este Es El Apartado Para Agregar El Producto</h3></center> 
                </div>
              </div>
            </div>



        {% comment %} Formularios De Agregar {% endcomment %}
        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Agregar Proveedor</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Agregar Categoria</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Agregar Producto</button>
                </li>

              </ul>
              {% comment %} Bloque De Codigo Para Agregar El Proveedor {% endcomment %}
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <form action="/RegistrarProveedor/" method="POST" enctype="multipart/form-data" class="was-validated">
                        {% csrf_token %}
            
                        <!-- Nombre Del Proveedor -->
                        <div class="row mb-1">
                            <label for="txtNombrePro" class="col-md-4 col-lg-3 col-form-label">Nombre Del Proveedor</label>
                            <div class="col-md-2 col-lg-9">
                                <input name="txtNombrePro" type="text" class="form-control" id="txtNombrePro" required placeholder="Digite El Nombre Del Proveedor">
                            </div>
                        </div>
            
                        <!-- Nombre Del Representante -->
                        <div class="row mb-1">
                            <label for="txtNombreRepre" class="col-md-4 col-lg-3 col-form-label">Nombre Del Representante</label>
                            <div class="col-md-2 col-lg-9">
                                <input name="txtNombreRepre" type="text" class="form-control" id="txtNombreRepre" required placeholder="Digite El Nombre Del Representante">
                            </div>
                        </div>
            
                        <!-- Direccion De La Empresa Proveedora -->
                        <div class="row mb-1">
                            <label for="txtDireccionPro" class="col-md-4 col-lg-3 col-form-label">Direccion</label>
                            <div class="col-md-2 col-lg-9">
                                <input name="txtDireccionPro" type="text" class="form-control" id="txtDireccionPro" required placeholder="Digite El Nombre De La Empresa">
                            </div>
                        </div>
            
                        <!-- Telefono De La Empresa Proveedora -->
                        <div class="row mb-1">
                            <label for="txtTelefonoPro" class="col-md-4 col-lg-3 col-form-label">Telefono</label>
                            <div class="col-md-2 col-lg-9">
                                <input name="txtTelefonoPro" type="number" class="form-control" id="txtTelefonoPro" required placeholder="Digite El Numero Del Representante y/o Empresa">
                            </div>
                        </div>
            
                        <!-- Nit De La Empresa Proveedora -->
                        <div class="row mb-1">
                            <label for="txtNitPro" class="col-md-4 col-lg-3 col-form-label">Nit</label>
                            <div class="col-md-2 col-lg-9">
                                <input name="txtNitPro" type="number" class="form-control" id="txtNitPro" required placeholder="Digite El Nit De La Empresa">
                            </div>
                        </div>
            
                        <!-- Botón -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Agregar Proveedor</button>
                        </div>
                    </form>
                </div>
            </div>            
              {% comment %}  Final De form De Proveedor{% endcomment %}

              {% comment %} Bloque De Codigo Para Agregar La Categoria {% endcomment %}
              <div class="tab-content pt-2">
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <form action="/RegistrarCategoria/" method="POST" enctype="multipart/form-data" class="was-validated">
                      {% csrf_token %}
                          {% comment %} Categoria {% endcomment %}
                          <div class="row mb-1">
                              <label for="txtNombreCat" class="col-md-4 col-lg-3 col-form-label">Nombre De La Categoria</label>
                              <div class="col-md-2 col-lg-9">
                                  <input name="txtNombreCat" type="text" class="form-control" id="txtNombreCat" required
                                      placeholder="Digite El Nombre De La Categoria">
                              </div>
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Agregar Categoria</button>
                        </div>
                  </form>
                </div>
              </div> 
              {% comment %} Final Del form  de Categoria{% endcomment %}
                                                  
              {% comment %} Bloque De Codigo Para Agregar El Producto {% endcomment %}
              <div class="tab-content pt-2">
                  <div class="tab-pane fade pt-3" id="profile-change-password">
                    <form action="/RegistrarProducto/" method="POST" enctype="multipart/form-data" class="was-validated">
                      {% csrf_token %}    
                          {% comment %} Nombre Del Producto {% endcomment %}
                          <div class="row mb-1">
                              <label for="txtNombreP" class="col-md-4 col-lg-3 col-form-label">Nombre Del Producto</label>
                              <div class="col-md-2 col-lg-9">
                                  <input name="txtNombreP" type="text" class="form-control" id="txtNombreP" required
                                      placeholder="Digite El Nombre Del Producto">
                              </div>
                          </div>
                          {% comment %} Estado Del Producto {% endcomment %}
                          <div class="row mb-1">
                              <label for="cbEstado" class="col-md-4 col-lg-3 col-form-label">Estado Del Producto:</label>
                              <div class="col-md-2 col-lg-9">
                                  <select name="cbEstado" id="cbEstado" class="form-control" required>
                                      <option>Seleccione Estado</option>
                                      {% for estados in estados %} 
                                          <option value="{{estados.0}}">{{estados.1}}</option>
                                      {% endfor %}
                                  </select>
                              </div>    
                          </div>
                          {% comment %}  Precio Del Producto {% endcomment %}
                          <div class="row mb-1">
                              <label for="txtPrecioP" class="col-md-4 col-lg-3 col-form-label">Precio</label>
                              <div class="col-md-2 col-lg-9">
                                  <input name="txtPrecioP" type="number" class="form-control" id="txtPrecioP" required
                                      placeholder="Digite El Precio Del Producto">
                              </div>
                          </div>

                          {% comment %}  Proveedor {% endcomment %}
                          <div class="row mb-1">
                            <label for="cbProvedor" class="col-md-4 col-lg-3 col-form-label">Proveedor:</label>
                            <div class="col-md-2 col-lg-9">
                                <select name="cbProvedor" id="cbProvedor" class="form-control" required>
                                    <option>Seleccione Proveedor</option>
                                    {% for pro in proveedores %} 
                                        <option value="{{pro.id}}">{{pro.proNombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        {% comment %} Categoria {% endcomment %}
                        <div class="row mb-1">
                          <label for="cbCategoria" class="col-md-4 col-lg-3 col-form-label">Categoria:</label>
                          <div class="col-md-2 col-lg-9">
                            <select name="cbCategoria" id="cbCategoria" class="form-control" required>
                                <option>Seleccione categoria</option>
                                {% for cat in categorias %} 
                                    <option value="{{cat.id}}">{{cat.catNombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>
 

                          {% comment %}  Descripcion Del Producto {% endcomment %}
                          <div class="row mb-1">
                              <label for="txtDescripcionP" class="col-md-4 col-lg-3 col-form-label">Descripcion</label>
                              <div class="col-md-2 col-lg-9">
                                  <input name="txtDescripcionP" type="text" class="form-control" id="txtDescripcionP" required
                                      placeholder="Digite El Precio Del Producto">
                              </div>
                          </div>

                          {% comment %}  Foto Del Producto {% endcomment %}
                          <div class="row mb-1">
                            <label for="txtDescripcionP" class="col-md-4 col-lg-3 col-form-label">Foto</label>
                            <div class="col-md-2 col-lg-9">
                                  <input type="file" name="fileFoto" id="fileFoto" class="form-control" required accept=".jpg" accept=".jpg" placeholder="Cargar foto">
                                  <label for="fileFoto">Cargar foto</label>
                              </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Agregar Producto</button>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>  
                    {% comment %} Final Del form  de producto{% endcomment %}

                </div>
          </div>
      </div>    
    </section>

  </main><!-- End #main -->

<!-- custom js file link  -->
<script src=" {% static '../static/js/script.js' %}"></script>
<script>
    {% if mensaje %}
    Swal.fire({
      title: '{{titulo}}',
      text: '{{mensaje}}',
      icon: '{{tema}}',               
      confirmButtonColor: '#3085d6',             
      confirmButtonText: 'Aceptar'
    });
  
    {% endif %}
  </script>

  
  <!-- Vendor JS Files -->
  <script src=" {% static '../static/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src=" {% static '../static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static '../static/vendor/chart.js/chart.umd.js' %}"></script>
  <script src=" {% static '../static/vendor/echarts/echarts.min.js' %}"></script>
  <script src=" {% static '../static/vendor/quill/quill.min.js' %}"></script>
  <script src=" {% static '../static/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src=" {% static '../static/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src=" {% static '../static/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src=" {% static '../static/js/main.js' %}"></script>

</body>

</html>