<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Usuario / Perfil - Animalagro</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Favicons -->


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    {% load static %}

    <link rel="stylesheet" href="{% static '../static/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{%static '../static/vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.snow.css' %}">
    <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.bubble.css' %}">
    <link rel="stylesheet" href="{%static '../static/vendor/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{%static '../static/vendor/simple-datatables/style.css' %}">

    <link href="{% static '../static/css/adminStyle.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">


        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">20</span>
                    </a><!-- End Notification Icon -->
                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">13</span>
                    </a><!-- End Messages Icon -->
                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{%static '../static/image/profile.jpg' %}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Stiven Chacon</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Stiven Chacon</h6>
                            <span>Administrador</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/perfiladmin/">
                                <i class="bi bi-person"></i>
                                <span>Mi perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/perfiladmin/">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Salir</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="/vistaAdministrador/">
                    <i class="bi bi-grid"></i>
                    <span>Animalagro</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-heading">Pagina</li>

            <a class="nav-link collapsed" href="/perfiladmin/">
                <i class="bi bi-person"></i>
                <span>Perfil</span>
            </a>
            <a class="nav-link collapsed" href="/listarEmpleados/">
                <i class="bi bi-person"></i>
                <span>Consultar Empleados</span>
            </a>
            <a class="nav-link collapsed" href="/VistaAgregarEmpleado/">
                <i class="bi bi-person"></i>
                <span>Agregar Empleados</span>
              </a>
              <a class="nav-link collapsed" href="/VistaProductos/">
                <i class="bi bi-person"></i>
                <span>Gestion Producto</span>
              </a>
              <a class="nav-link collapsed" href="/GestionServicio/">
                <i class="bi bi-person"></i>
                <span>Gestion Servicio</span>
              </a>
            </li><!-- End Profile Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main container-sm p-2 my-4">
        <br>
        <div class="pagetitle">
            <h1></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/vistaAdministrador/">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="/perfiladmin/">Perfil</a></li>

                </ol>
            </nav>
        </div><!-- End Page Title -->
        <div class="container-sm p-2 my-1  text-center" style="margin: 0 auto">
         <h1 style="text-align: center">Formulario agregar empleado</h1> <br> <br>
         
        <form action="/AgregarEmpleado/" method="POST" enctype="multipart/form-data" class="was-validated">
            {% csrf_token %}
            <div class="row mb-2">
                <label for="txtNombreEm" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtNombreEm" type="text" class="form-control" id="txtNombreEm" required
                        placeholder="Digite nombre del empleado">
                </div>
            </div>

            <div class="row mb-2">
                <label for="txtApellidoEm" class="col-md-4 col-lg-3 col-form-label">Apellido</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtApellidoEm" type="text" class="form-control" id="txtApellidoEm" required
                        placeholder="Digite apellido del empleado">
                </div>
            </div>

            <div class="row mb-2">
                <label for="txtTelefonoEm" class="col-md-4 col-lg-3 col-form-label">N. Telefono</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtTelefonoEm" type="number" class="form-control" id="txtTelefonoEm" required
                        placeholder="Digite telefono del empleado" >
                </div>
            </div>

            <div class="row mb-2">
                <label for="txtDireccionEm" class="col-md-4 col-lg-3 col-form-label">Dirrecion</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtDireccionEm" type="text" class="form-control" id="txtDireccionEm" required
                        placeholder="Digite direccion del empleado" >

                </div>
            </div>

            <div class="row mb-2">
                    <label for="txtTipoDocEm" class="form-label col-md-4 col-lg-3 col-form-label">Tipo de Documento     </label>
                    <div class="col-md-8 col-lg-7">
                        <select class="form-select" id="txtTipoDocEm" name="txtTipoDocEm">
                            <option value="">Seleccionar</option>
                            <option value="TI">Tarjeta Identidad</option>
                            <option value="CC">Cedula Ciudadania</option>
                            <option value="CCE">Cedula Extranjera</option>
                        </select>
                    </div>
            </div>

            <div class="row mb-2">
                <label for="txtCargoEm" class="col-md-4 col-lg-3 col-form-label">Numero De Documento</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtNumeroDocEm" type="text" class="form-control" id="txtNumeroDocEm" required
                        placeholder="Digite Numero De Documento" >
                </div>
            </div>

            <div class="row mb-2">
                <label for="txtCargoEm" class="col-md-4 col-lg-3 col-form-label">Cargo</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtCargoEm" type="text" class="form-control" id="txtCargoEm" required
                        placeholder="Digite cargo del empleado" >
                </div>
            </div>

            <div class="row mb-2">
                <label for="txtCorreoEm" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                <div class="col-md-8 col-lg-7">
                    <input name="txtCorreoEm" type="email" class="form-control" id="txtCorreoEm" required
                        placeholder="Digite correo del empleado">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Agregar empleado</button>
            </div>




            
        </form>
    </div>
    </main>
    <script src=" {% static '../static/vendor/apexcharts/apexcharts.min.js' %}"></script>
            <script src=" {% static '../static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <script src=" {% static '../static/vendor/chart.js/chart.umd.js' %}"></script>
            <script src=" {% static '../static/vendor/echarts/echarts.min.js' %}"></script>
            <script src=" {% static '../static/vendor/quill/quill.min.js' %}"></script>
            <script src=" {% static '../static/vendor/simple-datatables/simple-datatables.js' %}"></script>
            <script src=" {% static '../static/vendor/tinymce/tinymce.min.js' %}"></script>
            <script src=" {% static '../static/vendor/php-email-form/validate.js' %}"></script>

            <!-- Template Main JS File -->
            <script src=" {% static '../static/js/main.js' %}"></script>
</body>

</html>