{% extends "Administrador/indexA.html" %}
{% block encabezado %}
    {% include "Administrador/encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "Administrador/menu.html" %}
{% endblock %}
{% block contenido %}
  {% load static %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Perfil Gestion Servicio</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/vistaAdministrador/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/perfiladmin/">Perfil</a></li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
          



        {% comment %} Formularios De Agregar {% endcomment %}
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Agregar Servicio</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" >Listar Servicio</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#asignarEmpleado">Asignar Empleado</button>
                </li>

              </ul>
              {% comment %} Bloque De Codigo Para Agregar Servico {% endcomment %}
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview" >
                    <form  class="was-validated" >

                        <!-- Nombre Del Servicio -->
                        <div class="row mb-1">
                            <label for="txtNombreser" class="col-md-4 col-lg-3 col-form-label">Nombre Del Servicio</label>
                            <div class="col-md-1 col-lg-7">
                                <input name="txtNombreser" type="text" class="form-control" id="txtNombreser" required placeholder="Digite el nombre del servicio">
                            </div>
                        </div>
            
                        <!-- Tipo Servicio -->
                        <div class="row mb-1">
                            <label for="txtTiposer" class="col-md-4 col-lg-3 col-form-label">Tipo De Servicio</label>
                            <div class="col-md-1 col-lg-7">
                                <input name="txtTiposer" type="text" class="form-control" id="txtTiposer" required placeholder="Digite el tipo de serivicio (Cirugia, Seguimiento) ">
                            </div>
                        </div>
            
                        <!-- Descripcion -->
                        <div class="row mb-1">
                            <label for="txtDescripcionser" class="col-md-4 col-lg-3 col-form-label">Descripcion</label>
                            <div class="col-md-1 col-lg-7">
                              <textarea id="txtDescripcionser" name="txtDescripcionser" class="form-control" aria-label="With textarea" required placeholder="Descripcion del Servicio"></textarea>
                            </div>
                        </div>
            
                        <!-- Precio -->
                        <div class="row mb-1">
                            <label for="txtPrecioSer" class="col-md-4 col-lg-3 col-form-label">Precio</label>
                            <div class="col-md-1 col-lg-7">
                                <input name="txtPrecioSer" type="number" class="form-control" id="txtPrecioSer" required placeholder="Precio Del Servicio">
                            </div>
                        </div>
            
                        <!-- Empleado -->
                        <div class="row mb-1">
                            <label for="cbEmpleado" class="col-md-1 col-lg-3 col-form-label">Empleado Asignado (Opcional)</label>
                            <div class="col-md-1 col-lg-7">
                              <select name="cbEmpleado" id="cbEmpleado" class="form-control" required >
                                <option value="0">Seleccione  Empleado</option>
                                {% for em in empleado %} 
                                    <option value="{{em.id}}">{{em.emNombre}} {{em.emApellido}} - {{em.emCargo}}</option>
                                {% endfor %}
                              </select>
                            </div>
                        </div>
                        <br>
                        <!-- Botón -->
                        <div class="text-center">
                            <button type="button" class="btn btn-success" onclick="agregarServicio()">Agregar Servicio</button>
                        </div>
                    </form>
                </div>
            </div>            
              {% comment %}  Final De form servico{% endcomment %}

              {% comment %} Bloque De Codigo Para listar  {% endcomment %}
              <div class="tab-content pt-2">
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <table class="table table-striped table-bordered table-hover datatable text-center">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Empleado</th>
                      </tr>
                    </thead>
                    <tbody >
                      {% for lista in servicio %}
                            <tr>
                                <td>{{lista.serNombre}}</td>
                                <td>{{lista.serTipo}}</td>
                                <td>{{lista.serPrecio}}</td>
                                {% if lista.serEmpleado != null %}
                                  <td>{{lista.serEmpleado.emNombre}}</td>
                                {% else %} 
                                  <td class="text-danger">No hay Empleado Asignado</td>
                                {% endif %}
                            </tr>
                      {% endfor %} 
                    </tbody>
                  </table>

                </div>
              </div> 
              <div class="tab-content pt-2" >
                <div class="tab-pane fade pt-3" id="asignarEmpleado" >
                  <form class="was-validated">
                                    
                      <div class="section register min-vh-50 d-flex flex-column align-items-center justify-content-center py-2">
                        <div class="container">
                          <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

                              <div class="card mb-3">

                                <div class="card-body">

                                  <div class="pt-4 pb-2">
                                    <h3 class="card-title text-center pb-0 fs-4">Asignar Empleado Aun Servicio</h3>
                                    <p class="text-center small">Solo se puede asignar un empleado al servicio que no tenga</p>
                                  </div>

                                  <form class="row g-3 was-validated" >                                    
                                    <div>
                                      <label for="cbservicio" class="form-label">Servicio</label>
                                      <div class="input-group">                      
                                      <select class="form-select" id="cbservicio" name ="cbservicio" required>
                                        <option value="" required>Seleccione Servicio</option>
                                        {% for lista in servicio %} 
                                          {% if lista.serEmpleado == null %}
                                            <option value="{{lista.id}}">{{lista.serNombre}} - {{lista.serTipo}}</option>
                                          {% endif %}
                                        {% endfor %}
                                      </select>
                                    </div>
                                    </div>
                                    <div>
                                        <label for="cbempleado" class="form-label">Empleado</label>
                                        <div class="input-group ">                      
                                        <select class="form-select" id="cbempleado" name ="cbempleado" required>
                                          <option value="" required>Seleccione Empleado</option>
                                          {% for em in empleado %} 
                                             <option value="{{em.id}}">{{em.emNombre}} {{em.emApellido}} - {{em.emCargo}}</option>
                                          {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                      <button type="button" class="btn btn-success" onclick="asignarEmpleado()">Agregar Servicio</button>
                                    </div>                    
                                  </form>

                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </section>

  </main><!-- End #main -->

<!-- custom js file link  -->
<script src=" {% static '../static/js/script.js' %}"></script>
<script>
    {% if mensaje %}
    Swal.fire({
      title: '{{titulo}}',
      text: '{{mensaje}}',
      icon: '{{tema}}',               
      confirmButtonColor: '#3085d6',             
      confirmButtonText: 'Aceptar'
    });
  
    {% endif %}
  </script>

  
  <!-- Vendor JS Files -->
  <script src=" {% static '../static/js/GestionServicios.js' %}"></script>
  {% endblock %}