<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Administrador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  {% load static %}

  <link rel="stylesheet" href="{% static '../static/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.snow.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.bubble.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/simple-datatables/style.css' %}">

  <link href="{% static '../static/css/adminStyle.css' %}" rel="stylesheet"> 

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">



    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>

      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">20</span>


        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">13</span>
          </a><!-- End Messages Icon -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{%static '../static/image/profile.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Stiven Chacon</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Stiven Chacon</h6>
              <span>Administrador</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <a class="nav-link collapsed" href="/perfiladmin/">
              <i class="bi bi-person"></i>
              <span>Perfil</span>
            </a>
            <a class="nav-link collapsed" href="/VistaAgregarEmpleado/">
              <i class="bi bi-person"></i>
              <span>Agregar empleado</span>
            </a>
            <a class="nav-link collapsed" href="/listarEmpleados/">
              <i class="bi bi-person"></i>
              <span>Consultar Empleados</span>
            </a>
            <a class="nav-link collapsed" href="/VistaProductos/">
              <i class="bi bi-person"></i>
              <span>Agregar Producto</span>
            </a>
          </li><!-- End Profile Page Nav -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/inicio/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Salir</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/vistaAdministrador/">
          <i class="bi bi-grid"></i>
          <span>Animalagro</span>
        </a>

      <li class="nav-heading">Pagina</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/perfiladmin/">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>

        <a class="nav-link collapsed" href="/VistaAgregarEmpleado/">
          <i class="bi bi-person"></i>
          <span>Gestion Empleados</span>
        </a>
        <a class="nav-link collapsed" href="/listarEmpleados/">
          <i class="bi bi-person"></i>
          <span>Consultar Empleados</span>
        </a>
        <a class="nav-link collapsed" href="/VistaProductos/">
          <i class="bi bi-person"></i>
          <span>Agregar Producto</span>
        </a>
    
       
      </li><!-- End Profile Page Nav -->

      </li><!-- End Register Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main  container p-4 ">

    <div class="pagetitle">
      <br>
      <br>
      <h1 style="">Gestion Administrador</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/perfiladmin/">Perfil</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Ventas <span>| Hoy</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>250</h6>
                      <span class="text-success small pt-1 fw-bold">52%</span> <span
                        class="text-muted small pt-2 ps-1">Aumentar</span>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Ingresos<span>|Este mes</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-2">
                      <h6>$19.767.950</h6>
                      <span class="text-success small pt-1 fw-bold">68%</span> <span
                        class="text-muted small pt-2 ps-1">Aumentar</span>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Clientes <span>| Este Año</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>312</h6>
                      <span class="text-danger small pt-1 fw-bold">21%</span> <span
                        class="text-muted small pt-2 ps-1">disminuir</span>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Reportes <span>/Mes</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Ventas',
                          data: [31, 40, 28, 51, 42, 82, 56],
                        }, {
                          name: 'Ganancia',
                          data: [11, 32, 45, 32, 34, 52, 41]
                        }, {
                          name: 'Clientes',
                          data: [15, 11, 32, 18, 9, 24, 11]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: ["2023-05-19T00:00:00.000Z", "2023-05-19T01:30:00.000Z", "2023-05-19T02:30:00.000Z", "2023-05-19T03:30:00.000Z", "2023-05-19T04:30:00.000Z", "2023-05-19T05:30:00.000Z", "2023-05-19T06:30:00.000Z"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="card-body">
              <h5 class="card-title">Ventas Recientes <span>| hoy</span></h5>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clientes</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a href="">#1</a></th>
                    <td>Emanuel Juan Jesus Guevara vique</td>
                    <td><a href="" class="text-primary">Comida Gallina</a></td>
                    <td>$250.000</td>
                    <td><span class="badge bg-success">Aprobado</span></td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Recent Sales -->

        <!-- Top Selling -->
        <div class="col-10">
          <div class="card top-selling overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Más vendidos<span> | Mes</span></h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Vendido</th>
                    <th scope="col">Ganancia</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Comida Gallina xBulto</td>
                    <td>$250.000</td>
                    <td class="">2</td>
                    <td>69,828</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Top Selling -->

      </div>
      </div><!-- End Left side columns -->

  </main><!-- End #main -->
  <!-- Vendor JS Files -->
  <script src=" {% static '../static/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src=" {% static '../static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static '../static/vendor/chart.js/chart.umd.js' %}"></script>
  <script src=" {% static '../static/vendor/echarts/echarts.min.js' %}"></script>
  <script src=" {% static '../static/vendor/quill/quill.min.js' %}"></script>
  <script src=" {% static '../static/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src=" {% static '../static/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src=" {% static '../static/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src=" {% static '../static/js/main.js' %}"></script>

</body>

</html>