<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Administrador</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Vendor CSS Files -->
    {% load static %}

    <link rel="stylesheet" href="{% static '../static/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.snow.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/quill/quill.bubble.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{%static '../static/vendor/simple-datatables/style.css' %}">

  <link href="{% static '../static/css/adminStyle.css' %}" rel="stylesheet"> 

</head>

<body>
    <div class="container">
        <br>
        <h1 style="text-align: center;">Listar Empleados</h1>
        <br>
        <div class="row">
            <div class="col-12">
               
                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Numero De Documento</th>
                            <th>Cargo</th>
                            <th>Correo</th>
                            <th>Crear Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lista in listarEmpleados %}
                            <tr>
                                <td>{{lista.emNombre}}</td>
                                <td>{{lista.emApellido}}</td>
                                <td>{{lista.emTelefono}}</td>
                                <td>{{lista.emDireccion}}</td>
                                <td>{{lista.emNumeroDoc}}</td>
                                <td>{{lista.emCargo}}</td>
                                <td>{{lista.emCorreo}}</td>
                                <td><a href="/vistaEmpleadoUsuario/{{lista.id}}"> <button type="button" class="btn btn-warning text-white">Crear </button></a></td>
                            </tr>
                      {% endfor %} 
                    </tbody>
                </table>
         
            </div>
        </div>

        
        <button type="button" class="btn btn-primary"><a href="/perfiladmin/" style="color: white;">Regresar</a></button>

        <script src=" {% static '../static/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src=" {% static '../static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static '../static/vendor/chart.js/chart.umd.js' %}"></script>
  <script src=" {% static '../static/vendor/echarts/echarts.min.js' %}"></script>
  <script src=" {% static '../static/vendor/quill/quill.min.js' %}"></script>
  <script src=" {% static '../static/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src=" {% static '../static/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src=" {% static '../static/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src=" {% static '../static/js/main.js' %}"></script>
        <script>
            {% if mensaje %}
            Swal.fire({
              title: '{{titulo}}',
              text: '{{mensaje}}',
              icon: '{{error}}',               
              confirmButtonColor: '#3085d6',             
              confirmButtonText: 'Aceptar'
            });
          
            {% endif %}
         </script>
</body>

</html>