{% extends "Administrador/indexA.html" %}
{% block encabezado %}
    {% include "Administrador/encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "Administrador/menu.html" %}
{% endblock %}
{% block contenido %}
  {% load static %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Perfil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/vistaAdministrador/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/perfiladmin/">Perfil</a></li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-3">

          <div class="card">
            <div class="card-body profile-card pt-1 d-flex flex-column align-items-center">

              <img src="../media/{{user.userFoto}}" alt="Profile" class="rounded-circle">
              <h2 class="text-center">{{user.first_name}}</h2>
              <span>{{user.userTipo}}</span>
            </div>
          </div>

        </div>

        <div class="col-xl-9">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Descripcion</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar perfil</button>
                </li>


              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Detalles del perfil</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                    <div class="col-lg-9 col-md-8">{{user.first_name}}{{user.last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Cargo</div>
                    <div class="col-lg-9 col-md-8">{{user.userEmpleado.emCargo}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Rol</div>
                    <div class="col-lg-9 col-md-8">{{user.userTipo}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Telefono</div>
                    <div class="col-lg-9 col-md-8">{{user.userTelefono}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Correo Electronico</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form enctype="multipart/form-data" id="imagenPerfil">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Subir Imagen De Perfil</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="../media/{{user.userFoto}}" alt="Profile">
                        <div class="pt-3">
                            <label class="btn btn-primary btn-sm" title="Subir nueva imagen de perfil" style="color: rgb(255, 255, 255);" >
                              <input type="file" style="display: none;" id="FilefotoPerfil"  name="FilefotoPerfil">
                              <i class="bi bi-upload"></i> Cargar Foto
                            </label>
                            <button type="button" class="btn btn-warning btn-sm" style="color: rgb(255, 255, 255);" onclick="subirImagenPerfil({{user.id}})" >Actualizar Imagen</button>
                        </div>
                      </div>
                    </div>
                  </form><!-- End Profile Edit Form -->
                </div>
            </div>
          </div>
    </section>

  </main><!-- End #main -->

  <script src=" {% static '../static/js/GestionUser.js' %}"></script>
  {% endblock %}