@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #279451;
  border-radius: 5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
}

.heading span {
  color: #269759;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
          clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.header.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}


.header .login-form {
  position: absolute;
  top: 120%;
  right: 1rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}
/* aparecer form de login */
.header .login-form.active {
  display: block;
  -webkit-animation: fadeIn .4s linear;
          animation: fadeIn .4s linear;
}

.header .login-form h3 {
    color: #130f40;
    font-size: 2.5rem;
    padding-bottom: .5rem;
  }
  
  .header .login-form .box {
    width: 100%;
    border-bottom: 0.2rem solid #130f40;
    border-width: .1rem;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    margin: 1rem 0;
  }
  
  .header .login-form .remember {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    padding: 1rem 0;
  }
  
  .header .login-form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .header .login-form .btn {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
  }
  
  .header .login-form .btn:hover {
    background: #130f40;
  }
  
  .header .login-form .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }
  
  .header .login-form .links a {
    font-size: 1.4rem;
    color: #069747;
  }
  
  .header .login-form .links a:hover {
    color: #d3c227;
    text-decoration: underline;
  }

  #menu-btn {
    display: none;
  }


  .footer {
    position: relative;
    background: url(../image/footer_background.jpg) no-repeat;
    background-position: center;
    background-size: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
  }
  
  .footer img {
    position: absolute;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
  }
  
  .footer .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .footer .share a {
    color: #fff;
    border-color: #fff;
  }
  
  .footer .share a:hover {
    color: #130f40;
  }
  
  .footer .share a::before {
    background: #fff;
  }

@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 2rem;
    }
    section {
      padding: 5rem 2rem;
    }
    .home {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: right;
    }
    .home .content {
      text-align: center;
      padding-bottom: 5rem;
    }
    .home .content h3 {
      font-size: 4.5rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
      display: block;
      margin: 2rem;
      font-size: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .header .login-form {
      width: 90%;
    }
  }
  